body {
  background-color: black;
  color: white;
}
h1 {
  color: white;
}
#main {
  display: flex;
  color: white;
  text-align: center;
  align-items: center;
  flex-direction: column; 
}

#character {
  width: 150px;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
  img {
    border-radius: 50%;
  }
}


#almacen {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap
}

.personaje_id {
  display: flex;
  flex-direction: row;
}

.buttons_next {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  button{
    background-color: transparent;
    color: white;
    font-size: larger;
  }
}

.characters {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.personaje_detallado {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  padding: 20px;
  gap: 10px;
}

.personaje_masdetallado {
  display: flex;
  flex-direction: row;
  font-size: large;
  img {
    border-radius: 10%;
  }
}